/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84rem) {
  .card {
    max-width: 85rem;
  }

  .card--single {
    max-width: 85rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75rem) {
  .video {
    width: 75rem;
    height: 42.3rem;
  }

  .header {
    font-size: 3.6rem;
    padding: 0 3rem;
  }

  .summary-icon {
    height: 3rem;
    width: 3rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59rem) {
  html {
    font-size: 50%;
  }
  .video {
    width: 65rem;
    height: 36.7rem;
  }

  .header {
    margin-top: 7rem;
  }

  .card {
    max-width: 70rem;
    grid-template-columns: 1fr;
  }

  .card-heading {
    padding-top: 2rem;
  }

  .card--left {
    padding: 0 4rem;
  }

  .card-img {
    width: 100%;
    margin: 0 auto;
    padding: 0;

    margin-top: 5rem;
  }

  .card--single {
    max-width: 70rem;
  }

  .card-icon {
    height: 5rem;
    width: 5rem;
  }

  .terminal-shell {
    width: 56rem;
  }

  .grid-3-cols {
    grid-template-columns: 1fr 1fr;
    row-gap: 5rem;
  }

  .blogging,
  .custom-url,
  .guides {
    margin: 0 auto;
  }

  .guides {
    grid-column: 1 / -1;
  }

  .footer {
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
  }

  .margin-bottom-big {
    margin-bottom: 6rem;
  }

  .summary {
    padding-bottom: 9rem;
  }
}

/**************************/
/* BELOW 760px (Tablets) */
/**************************/

@media (max-width: 47.5rem) {
  .hero-section {
    padding: 2rem 2rem 0;
  }

  .slider {
    max-width: 80rem;
    height: 30rem;
  }

  .hero-info {
    font-size: 4rem;
  }

  .header-info--secondary {
    font-size: 1.6rem;
  }

  .video {
    width: 60rem;
    height: 33.9rem;
  }

  .header {
    font-size: 2.8rem;
  }

  .info--primary {
    margin-bottom: 0;
  }

  .card-img {
    margin-top: 2rem;
  }

  .description {
    font-size: 1.6rem;
  }

  .card,
  .card--single {
    max-width: 55rem;
  }

  .terminal-shell {
    width: 40rem;
  }

  .card-icon {
    margin-top: 1rem;
    height: 4rem;
    width: 4rem;
  }

  .grid-3-cols {
    grid-template-columns: 1fr;
  }

  .summary {
    padding-bottom: 6rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34rem) {
  .header-info--secondary {
    margin-bottom: 3.2rem;
  }

  .header {
    margin: 3rem 0;
  }

  .slider {
    max-width: 70rem;
    height: 22.5rem;
  }

  .video {
    width: 35rem;
    height: 19.78rem;
  }

  .card,
  .card--single {
    max-width: 40rem;
    margin-bottom: 4rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  .card-heading {
    font-size: 2.6rem;
  }

  .terminal-shell {
    width: 36rem;
  }
}
